[run]
source =
    Backend/api.py
    Backend/utils/db.py
    Backend/preprocessing/data_loader.py
    Backend/preprocessing/cache_manager.py

[report]
show_missing = True
skip_empty = True
fail_under = 60